# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Streamlit cache
.streamlit/

# Ignore virtual environments
venv/
.env/
*.env

# Optional: Ignore large dataset
data/recipes.csv
data/reviews.csv

